.hero-wrap {
  display: contents;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  margin: calc(var(--content-padding-vertical) * -1)
    calc(var(--content-padding-horizontal-small) * -1) 1rem;
  padding: var(--content-padding-vertical) var(--content-padding-horizontal-small);
  background-color: var(--color-neutral-light);
  color: var(--color-blue-light);
}

@media screen and (min-width: 48rem) {
  .hero {
    margin: calc(var(--content-padding-vertical) * -1)
      calc(var(--content-padding-horizontal-large) * -1) 1rem;
    padding: var(--content-padding-vertical) var(--content-padding-horizontal-large);
  }
}

.hero h1 {
  margin-bottom: 0;
  font-size: 4rem;
  letter-spacing: -3px;
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--color-white);
}

.hero p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -1px;
}
