@import url('tokens.css');

/*
-------------
Core Styles
-------------
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: var(--font-default);
  font-size: 0.875rem;
}

/*
  -------------
  Loading State
  -------------
*/

body:not(.ready) {
  overflow: hidden;
}

body:not(.ready) .app-nav,
body:not(.ready) > nav,
body:not(.ready) [data-cloak] {
  display: none;
}

#app {
  margin: 40vh auto;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
  color: var(--body-color);
}

#app:empty:before {
  content: 'Loading...';
}

/*
  -------------
  Progress Bar
  -------------
*/

.progress {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--content-color-active);
  transition: width 0.2s, opacity 0.4s;
}

/*
  -------------
  Sidebar
  -------------
*/

.sidebar {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 18.75rem;
  padding: 1.125rem;
  background-color: var(--body-background-color);
  color: var(--body-background-color);
  transition: transform 0.25s ease-out;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #ffffff70;
}

.sidebar:hover::-webkit-scrollbar-track {
  background-color: #ffffff40;
}

.sidebar-toggle {
  position: absolute;
  z-index: 30;
  top: 0.625rem;
  left: calc(18.75rem - 2.8125rem);
  width: 2.25rem;
  height: 2.125rem;
  padding: 0.5625rem;
  background: var(--sidebar-toggle-button-background-color);
  border: 1px solid var(--sidebar-toggle-button-border-color);
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px var(--sidebar-toggle-button-box-shadow-color);
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: left 0.25s ease;
}

body:not(.close) .sidebar-toggle {
  background: transparent;
  border: none;
}

body:not(.close) .sidebar-toggle span {
  background-color: var(--content-background-color);
}

.sidebar-toggle:hover span {
  background-color: var(--content-color-active) !important;
}

.sidebar-toggle span {
  display: block;
  width: 1rem;
  height: 0.125rem;
  margin-bottom: 0.25rem;
  background-color: var(--body-background-color);
}

body.sticky .sidebar,
body.sticky .sidebar-toggle {
  position: fixed;
}

/*
  -------------
  Sidebar > Navigation
  -------------
*/

.sidebar-nav {
  padding-bottom: 2.5rem;
  line-height: 2.2;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  color: var(--body-color);
}

.sidebar-nav li > p {
  margin: 0;
}

.sidebar-nav ul,
.sidebar-nav ul li {
  list-style: none;
}

.sidebar-nav > ul > li > a {
  padding-left: 24px;
  font-size: 1rem;
}

.sidebar-nav ul li a {
  display: block;
  overflow: hidden;
  border-bottom: none;
  color: var(--body-color);
  font-weight: 600;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-nav ul li ul {
  padding-left: 35px;
  font-weight: 600;
  font-size: 0.875rem;
}

.sidebar-nav ul li ul li ul {
  padding-left: 1rem;
}

.sidebar-nav ul li a:hover {
  color: var(--content-color-active);
}

.sidebar-nav ul li.active > a {
  color: var(--content-color-active);
  font-weight: 600;
}

.sidebar-nav ul li.active-child > a {
  color: var(--content-color-active);
}

.sidebar-nav li.has-submenu.active-child > a,
.sidebar-nav li.has-submenu.active > a,
.sidebar-nav li.has-submenu > a,
.sidebar-nav li.has-submenu.active.collapse > a {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 20px;
}

.sidebar-nav li.has-submenu.active-child > a,
.sidebar-nav li.has-submenu.active > a {
  background-image: var(--icon-chevron-down);
}

.sidebar-nav li.has-submenu > a {
  background-image: var(--icon-chevron-right);
}

.sidebar-nav li.has-submenu:not(.active):not(.active-child) > a:hover {
  background-image: var(--icon-chevron-right-active);
}

.sidebar-nav li.has-submenu.active.collapse > a:hover,
.sidebar-nav li.has-submenu.active.collapse > a {
  background-image: var(--icon-chevron-right-active);
}

.sidebar-nav ul li:not(.active-child):not(.active) ul,
.sidebar-nav ul li.collapse ul {
  display: none;
}

.sidebar-nav .app-sub-sidebar {
  margin: 0.7rem 0;
}

.sidebar-nav .app-sub-sidebar li a {
  padding-left: 0.9rem;
  border-left: 1px solid var(--sidebar-subnav-border-color);
  color: var(--sidebar-subnav-color);
  font-weight: 400;
  font-size: 0.8125rem;
}

.sidebar-nav .app-sub-sidebar li.active a {
  border-color: var(--content-color-active);
  color: var(--body-color);
}

.sidebar-nav li.collapse .app-sub-sidebar {
  display: none;
}

/*
  -------------
  Main Content
  -------------
*/

main {
  position: relative;
  z-index: 0;
  display: block;
  width: 100vw;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 300px;
  background-color: var(--content-background-color);
  border-top-left-radius: 2px;
  color: var(--content-color);
  transition: left 0.25s ease;
}

/*
  -------------
  Sidebar Toggle Support
  -------------
*/

main.hidden {
  display: none;
}

body.close .sidebar {
  transform: translateX(-18.75rem);
}

body.close .sidebar-toggle {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body.close .content {
  left: 0;
}

@media screen and (max-width: 48rem) {
  .sidebar,
  .sidebar-toggle {
    position: fixed;
  }

  .app-nav {
    margin-top: 1rem;
  }

  .app-nav li ul {
    top: 1.875rem;
  }

  main {
    height: auto;
    overflow-x: hidden;
  }

  .sidebar {
    left: -18.75rem;
    transition: transform 0.25s ease-out;
  }

  .content {
    position: static;
    left: 0;
    max-width: 100vw;
    transition: transform 0.25s ease;
  }

  .app-nav {
    transition: transform 0.25s ease-out;
  }

  .sidebar-toggle {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  body:not(.close) .sidebar-toggle {
    background-color: var(--color-white);
    border: 1px solid #e9ebec;
  }

  body:not(.close) .sidebar-toggle span {
    background-color: var(--body-background-color);
  }

  body.close .sidebar {
    transform: translateX(18.75rem);
  }

  body.close .sidebar-toggle {
    left: 18.75rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  body.close .content {
    transform: translateX(18.75rem);
  }

  body.close .app-nav {
    display: none;
  }
}

/*
  -------------
  Markdown-Processed Content
  -------------
*/

.markdown-section {
  padding: var(--content-padding-vertical) var(--content-padding-horizontal-small);
  background: linear-gradient(
    180deg,
    var(--color-neutral-lightest) 0%,
    var(--color-white) 5%,
    var(--color-white) 100%
  );
}

@media screen and (min-width: 768px) {
  .markdown-section {
    padding: var(--content-padding-vertical) var(--content-padding-horizontal-large);
  }
}

.markdown-section > * {
  max-width: var(--content-max-width);
}

.markdown-section > .code-preview {
  max-width: unset;
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a {
  color: var(--content-color);
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.markdown-section h1 a:hover,
.markdown-section h2 a:hover,
.markdown-section h3 a:hover,
.markdown-section h4 a:hover,
.markdown-section h5 a:hover {
  color: var(--content-color);
}

.markdown-section h1,
.markdown-section h1 a {
  margin: 1.5rem 0 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.markdown-section h1 a:hover {
  background-color: transparent;
}

.markdown-section h2 {
  margin-top: 3rem;
  font-size: 1.7rem;
}

.markdown-section h2 a {
  position: relative;
  left: -1.5rem;
  width: calc(100% + 1.5rem);
  padding-left: 1.5rem;
  background-image: var(--icon-hashtag);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  font-weight: 700;
}

.markdown-section h2 a:hover {
  background-color: transparent;
  background-image: var(--icon-hashtag-hover);
}

.markdown-section h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.markdown-section h3 a:hover,
.markdown-section h4 a:hover,
.markdown-section h5 a:hover {
  background-color: transparent;
}

.markdown-section h3 + p {
  margin-top: 0;
}

.markdown-section ul,
.markdown-section ol {
  font-size: 0.9375rem;
  padding-left: 1rem;
  line-height: 1.9;
}

.markdown-section p {
  font-size: 0.9375rem;
  line-height: 1.7;
}

.markdown-section ul li::marker {
  color: var(--body-background-color);
}

.markdown-section button {
  font-family: var(--font-default);
}

.markdown-section a {
  color: var(--body-background-color);
  font-weight: 500;
  text-decoration-color: var(--content-color-active);
  text-decoration-thickness: 2px;
  transition: all 0.15s ease-in-out;
}

.markdown-section a:hover {
  background-color: var(--color-neutral-lighter);
  text-decoration-color: var(--body-background-color);
}

.markdown-section code,
.controls__inputs code {
  display: inline-block;
  margin: 0.1rem;
  padding: 0.1rem 0.3rem;
  background-color: var(--color-neutral-lightest);
  border: 1px solid var(--color-neutral-light);
  border-radius: 2px;
  font-family: var(--font-code);
  line-height: 1.3;
}

.markdown-section pre {
  position: relative;
  background-color: var(--color-neutral-lighter);
  border-radius: 2px;
}

.markdown-section pre code {
  display: block;
  margin: 0;
  padding: 1rem;
  overflow: auto;
  background-color: transparent;
  border: none;
  tab-size: 2;
}

.markdown-section kbd {
  display: inline-block;
  margin-bottom: 0.1875rem;
  padding: 0.1875rem 0.3125rem;
  border: 1px solid var(--color-neutral-light-light);
  border-radius: 3px;
  font-size: 0.75rem;
  line-height: 1;
  vertical-align: middle;
}

/*
  -------------
  Tip Styling
  -------------
*/

.markdown-section p.tip {
  background-color: var(--color-neutral-lighter);
  border-radius: 4px;
}

.markdown-section p.tip {
  position: relative;
  margin: 2rem 0;
  padding: 0.875rem 1.5rem 0.75rem;
  border-left: 4px solid var(--color-blue-medium);
}

.markdown-section p.tip:before {
  content: '!';
  position: absolute;
  top: 11px;
  left: -12px;
  height: 20px;
  width: 20px;
  background-color: var(--body-background-color);
  border-radius: 100%;
  color: var(--body-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

/*
  -------------
  Code Syntax Highlighting
  -------------
*/

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8e908c;
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.number {
  color: #c76b29;
}

.token.punctuation {
  color: #525252;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #2973b7;
}

.token.string {
  color: var(--color-blue-deep);
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: var(--color-blue-deep);
}

.token.function,
.token.keyword {
  color: #e96900;
}

.token.atrule,
.token.regex,
.token.statement {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

.token {
  position: relative;
  left: auto;
  min-height: 1.5rem;
}

/*
  -------------
  Percy Visual Testing Styles
  -------------
*/

@media only percy {
  body,
  .markdown-section {
    background: transparent;
  }

  .markdown-section {
    padding: 1rem;
  }

  .content {
    left: 0;
  }

  .code-preview {
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .sidebar,
  .sidebar-toggle,
  .content > *:not(.markdown-section),
  .markdown-section > *:not(.code-preview):not(h3[id]),
  .code-preview .code-preview__source,
  .code-preview--expanded .code-preview__source,
  .code-preview .code-preview__preview .code-preview__resizer,
  .code-preview .code-preview__actions {
    display: none !important;
  }
}
