@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Code+Pro&display=swap");

html {
  /* Core Primitives */
  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-05: rgba(255, 255, 255, 0.05);
  --color-black-05: rgba(0, 0, 0, 0.05);
  --color-blue-deep: #0a1a29;
  --color-blue-medium: #1b354d;
  --color-blue-light: #2c5377;
  --color-blue-lightest: #57caee;
  --color-neutral-deep: #6e8091;
  --color-neutral-dark: #899caf;
  --color-neutral-medium: #bccad7;
  --color-neutral-light: #d4dee7;
  --color-neutral-lighter: #f2f6f8;
  --color-neutral-lightest: #fcfcfd;
  --font-family-inter: "Inter", sans-serif;
  --font-family-source-code-pro: "Source Code Pro", monospace;

  /* Color Generics */
  --color-background: var(--color-blue-medium);
  --color-text: var(--color-white);
  --content-color-background: var(--color-white);
  --content-color-text: var(--color-blue-deep);
  --content-color-text-active: var(--color-blue-lightest);
  --content-color-border-active: var(--color-blue-lightest);

  /* Font Generics */
  --font-family-heading: var(--font-family-inter);
  --font-family-body: var(--font-family-inter);
  --font-family-code: var(--font-family-source-code-pro);
  --font-size-body: 0.875rem;

  /* Icons */
  --icon-chevron-down: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%2357caee"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>');
  --icon-chevron-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>');
  --icon-chevron-right-neutral: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%236e8091"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>');
  --icon-chevron-right-active: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%2357caee"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>');
  --icon-search: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" /></svg>');
  --icon-hashtag: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23d4dee7"><path fill-rule="evenodd" d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z" clip-rule="evenodd" /></svg>');
  --icon-hashtag-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%2357caee"><path fill-rule="evenodd" d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z" clip-rule="evenodd" /></svg>');
  --icon-select: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23bccad7'><path fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /></svg>");
  --icon-color-swatch: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23f2f6f8" viewBox="0 0 24 24" stroke="%236e8091"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" /></svg>');
  --icon-pencil: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="%236e8091" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" /></svg>');
  --icon-pencil-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="%231b354d" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" /></svg>');

  /* Loading Page */
  --loading-font-size: 1.875rem;
  --loading-font-weight: 400;
  --loading-color-text: var(--color-white);
  --loading-margin: 40vh auto;
  --loading-text-align: center;

  /* Progress Bar */
  --progress-bar-color-background: var(--content-color-text-active);

  /* Search Box */
  --search-color-background: var(--color-blue-light);
  --search-color-text-placeholder: var(--color-white-70);
  --search-color-border-focus: var(--content-color-text-active);
  --search-results-color-border: var(--color-neutral-deep);

  /* Sidebar */
  --sidebar-color-border-subnav: var(--color-white-25);
  --sidebar-color-text-subnav: var(--color-white-80);
  --sidebar-title-font-size-secondary: 0.8rem;
  --sidebar-width: 18.75rem;

  /* Sidebar Toggle Button */
  --sidebar-toggle-top: 1.7rem;
  --sidebar-toggle-color-background: var(--color-white);
  --sidebar-toggle-color-border: var(--color-neutral-light);
  --sidebar-toggle-color-fill-close: var(--color-blue-medium);
  --sidebar-toggle-color-fill-open: var(--color-white);
  --sidebar-toggle-color-fill-hover: var(--content-color-text-active);
  --sidebar-toggle-shadow: 0px 1px 0px var(--color-black-05);

  /* Sidebar Navigation */
  --sidebar-nav-color-text: var(--color-white);
  --sidebar-nav-font-size: 0.75rem;
  --sidebar-nav-link-color-text: var(--color-white);
  --sidebar-nav-link-color-text-hover: var(--content-color-text-active);
  --sidebar-nav-link-color-text-active: var(--content-color-text-active);
  --sidebar-nav-link-font-size: 0.875rem;
  --sidebar-nav-link-font-weight: 600;
  --sidebar-nav-link-section-color-text: var(--color-white-80);
  --sidebar-nav-link-section-color-border: var(--color-white-25);
  --sidebar-nav-link-section-color-text-active: var(--color-white);
  --sidebar-nav-link-section-color-border-active: var(
    --content-color-text-active
  );
  --sidebar-nav-link-section-font-weight: 400;
  --sidebar-nav-link-section-font-size: 0.8125rem;

  /* Content Area */
  --content-top: 0;
  --content-right: 0;
  --content-border-radius-left: 6px;
  --content-border-radius-right: 0;
  --content-max-width: 50rem;
  --content-padding-vertical: 3.125rem;
  --content-padding-horizontal: 2.0625rem;
  --content-header-color-background: transparent;
  --content-header-padding-vertical: 2rem;
  --content-title-font-size: 2.5rem;
  --content-title-font-weight: 700;
  --content-headline-color-text: var(--color-neutral-deep);
  --content-headline-font-size: 1.4rem;
  --content-headline-line-height: 1.4;
  --content-headline-letter-spacing: -0.03em;
  --content-section-heading-font-size: 1.7rem;
  --content-section-heading-font-weight: 700;
  --content-heading-font-weight: 600;
  --content-heading-letter-spacing: -0.02em;
  --content-heading-text-decoration: none;
  --content-heading-text-decoration-hover: none;
  --content-heading-color-text: var(--content-color-text);
  --content-heading-color-text-hover: var(--content-color-text);
  --content-h3-font-size: 1.2rem;
  --content-h4-font-size: 1.1rem;
  --content-h4-margin: 1rem 0;
  --content-h5-font-size: 1rem;
  --content-h5-margin: 1rem 0;
  --content-font-size: 0.9375rem;
  --content-line-height: 1.7;
  --content-list-margin-bottom: 0.5rem;
  --content-list-bullet-color-fill: var(--color-blue-medium);
  --content-link-color-text: var(--color-blue-medium);
  --content-link-color-text-hover: var(--color-blue-medium);
  --content-link-color-text-decoration: var(--content-color-text-active);
  --content-link-color-text-decoration-hover: var(--color-blue-medium);
  --content-link-color-background-hover: var(--color-neutral-lighter);
  --content-link-text-decoration: underline;
  --content-link-text-decoration-hover: underline;
  --content-link-text-decoration-thickness: 2px;
  --content-link-font-weight: 600;
  --content-code-color-background: var(--color-neutral-lightest);
  --content-code-color-border: var(--color-neutral-light);
  --content-code-font-family: var(--font-family-code);
  --content-code-block-color-background: var(--color-neutral-lighter);
  --content-tip-color-background: var(--color-neutral-lighter);
  --content-tip-color-border: var(--color-blue-medium);
  --content-tip-color-text: var(--color-text);

  /* page-card */
  --page-card-color-border: var(--color-neutral-light);
  --page-card-color-shadow: var(--color-black-05);
  --page-card-color-border-hover: var(--content-color-border-active);
  --page-card-color-shadow-hover: var(--content-color-border-active);
  --page-card-title-color-text: var(--color-blue-medium);
  --page-card-title-font-size: 1.25rem;
  --page-card-title-font-weight: 700;
  --page-card-body-color-text: var(--color-neutral-deep);
  --page-card-body-font-size: 0.875rem;
  --page-card-body-font-weight: 400;

  /* github edit link */
  --gh-link-color-text: var(--color-neutral-deep);
  --gh-link-color-text-hover: var(--color-blue-medium);
  --gh-link-font-size: 0.9rem;
  --gh-link-font-weight: 500;
  --gh-link-text-decoration: none;
  --gh-link-text-decoration-hover: none;

  /* copy code button */
  --copy-code-color-background: var(--color-neutral-lighter);
  --copy-code-color-border: var(--color-neutral-light);
  --copy-code-color-fill: var(--color-neutral-dark);
  --copy-code-color-background-hover: var(--color-white);
  --copy-code-color-border-hover: var(--color-blue-light);
  --copy-code-color-fill-hover: var(--color-blue-light);
  --copy-code-color-background-success: var(--color-white);
  --copy-code-color-border-success: #155117;
  --copy-code-color-fill-success: #155117;

  /* web-component-docs */
  --component-docs-title-letter-spacing: 0.02rem;
  --component-docs-title-font-size: 2.5rem;
  --component-docs-title-font-weight: 700;
  --component-docs-header-border-width: 2px;
  --component-docs-header-color-border: var(--color-neutral-light);
  --component-docs-status-border-radius: 6.25rem;
  --component-docs-status-padding: 0.25rem 0.8rem;
  --component-docs-status-font-weight: 600;
  --component-docs-status-font-size: 0.75rem;
  --component-docs-status-text-transform: uppercase;
  --component-docs-header-color-border: var(--color-neutral-light);
  --component-docs-status-color-background-draft: #faefd1;
  --component-docs-status-color-background-ready: #d7f4d8;
  --component-docs-status-color-background-deprecated: #f4e1d7;
  --component-docs-status-color-text-draft: #683603;
  --component-docs-status-color-text-ready: #155117;
  --component-docs-status-color-text-deprecated: #5a2d16;
  --component-docs-theme-switcher-border-radius: 7px;
  --component-docs-theme-switcher-color-background: var(--color-white);
  --component-docs-theme-switcher-color-border: var(--color-neutral-light);
  --component-docs-theme-switcher-color-border-hover: var(
    --color-neutral-medium
  );
  --component-docs-theme-switcher-color-border-focus: var(
    --content-color-border-active
  );
  --component-docs-theme-switcher-color-text: var(--color-blue-medium);
  --component-docs-theme-switcher-font-family: var(--font-family-body);
  --component-docs-theme-switcher-font-size: 0.9rem;
  --component-docs-theme-switcher-shadow: 0px 1px 0px var(--color-black-05);
  --component-docs-theme-switcher-shadow-focus: 0 0 5px
    var(--content-color-border-active);
  --component-docs-table-description-color-text: var(--ep-_color-neutral-700);
  --component-docs-table-description-font-size: 0.8125rem;
  --component-docs-table-color-border: var(--color-neutral-light);
  --component-docs-table-header-color-background: var(--color-neutral-lighter);
  --component-docs-table-header-color-text: var(--color-neutral-deep);
  --component-docs-table-header-font-weight: 600;
  --component-docs-table-header-font-size: 0.75rem;
  --component-docs-table-header-padding: 0.7rem;
  --component-docs-table-header-width-first-col: 8rem;
  --component-docs-table-cell-padding: 0.9rem 0.7rem;
  --component-docs-table-cell-color-border: var(--color-neutral-light);
  --component-docs-table-cell-font-weight: 400;
  --component-docs-method-signature-font-size: 0.9rem;
  --component-docs-card-border-radius: 6px;
  --component-docs-card-color-border: var(--color-neutral-light);
  --component-docs-card-color-border-hover: var(--content-color-border-active);
  --component-docs-card-shadow: 0px 1px 0px var(--color-black-05);
  --component-docs-card-shadow-hover: 0px 0px 0px 1px
    var(--content-color-border-active);
  --component-docs-card-color-background: var(--color-neutral-lighter);
  --component-docs-card-height: 140px;
  --component-docs-card-header-font-size: 1.5rem;
  --component-docs-card-description-color-text: var(--color-neutral-deep);
  --component-docs-card-description-font-weight: 400;

  /* web-component-viewer */
  --component-viewer-color-border: var(--color-neutral-light);
  --component-viewer-resizer-color-background: var(--color-neutral-lightest);
  --component-viewer-resizer-color-background-hover: var(
    --color-neutral-lighter
  );
  --component-viewer-resizer-color-border: var(--color-neutral-light);
  --component-viewer-resizer-color-border-hover: var(--color-neutral-medium);
  --component-viewer-resizer-color-fill: var(--color-blue-light);
  --component-viewer-action-color-text: var(--color-blue-light);
  --component-viewer-action-color-text-hover: var(--content-color-text);
  --component-viewer-action-font-weight: 500;
  --component-viewer-action-font-size: 0.75rem;
  --component-viewer-action-line-height: 1.4;
  --component-viewer-action-letter-spacing: -0.02rem;
  --component-viewer-action-text-decoration: none;
  --component-viewer-action-text-decoration-hover: none;
  --component-viewer-controls-color-background: var(--color-neutral-lightest);
  --component-viewer-controls-color-border: var(--color-neutral-light);
  --component-viewer-controls-code-color-background: var(
    --color-neutral-lighter
  );
  --component-viewer-controls-textarea-height: 60px;
  --component-viewer-controls-input-color-accent: var(
    --content-color-border-active
  );
  --component-viewer-controls-input-color-background: var(--color-white);
  --component-viewer-controls-input-color-border: var(--color-neutral-light);
  --component-viewer-controls-input-color-border-hover: var(
    --color-neutral-medium
  );
  --component-viewer-controls-input-color-border-focus: var(
    --content-color-border-active
  );
  --component-viewer-controls-input-color-text: var(--color-blue-medium);
  --component-viewer-controls-input-color-text-placeholder: var(
    --color-neutral-deep
  );
  --component-viewer-controls-input-border-radius: 5px;
  --component-viewer-controls-input-font-family: var(--font-family-body);
  --component-viewer-controls-input-font-size: 0.9rem;
  --component-viewer-controls-input-shadow: 0px 1px 0px var(--color-black-05);
  --component-viewer-controls-input-shadow-focus: 0 0 5px
    var(--content-color-border-active);
}

@media screen and (min-width: 48rem) {
  html {
    --content-padding-horizontal: 4.0625rem;
  }
}
