.hero-wrap {
  display: contents;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  background-color: var(--color-neutral-light);
  color: var(--color-blue-light);
  border-radius: 0;
}

@media screen and (min-width: 48rem) {
  .hero {
    border-radius: var(--db-content-border-radius)
      var(--db-content-border-radius) 0 0;
  }
}

.hero h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  font-size: 3.5rem;
  letter-spacing: -3px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--color-white);
}

.hero svg {
  margin-bottom: 1rem;
  filter: drop-shadow(1px 1px 1px var(--color-white));
}

.hero p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -1px;
}
